@model List<Category>

<table class="table table-bordered table-striped table-hover dataTable">
    <thead>
    <tr>
        <th>Цвет</th>
        <th>Иконка</th>
        <th>Название</th>
        <th>Активный</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var i in Model)
    {
        <tr>
            <td class="padding-0 text-center align-middle"><span class="img-icon" style="background-color: @(i.HexColor);">&nbsp;</span></td>
            <td class="padding-0 text-center align-middle"><img src="@i.IconUrl" class="img-icon" alt=""/></td>
            <td><span class="list-name">@i.Name</span></td>
            <td>@(i.Active ? "Да" : "Нет")</td>
            <td class="text-center">
                <a asp-action="Edit" asp-controller="Category" asp-route-id="@i.ID" title="Редактировать"><i class="material-icons">edit</i></a>
            </td>
        </tr>
    }
    </tbody>
</table>
